p{
    color:aqua
}
em{
    color: brown;
}
li{
    list-style-type: square;
}
.box{
    color: red;
    font-size: larger;
}
a:hover{
    color:green;

    text-decoration: wavy;
}
#heading{
    background-color: red;
    color: whitesmoke;
    text-align: center;
}